{% extends "base.html" %}

{% block container %}

<h1>Welcome</h1>
<p>SSL-Monitor project is intended as a web based monitoring infrastructure and a 2-D game viewer for RoboCup Small Size League.</p>
<p>With SSL-Monitor both SSL teams and public audience can watch ongoing games in realtime. Or replay's of pre-recorded games.</p>
<p>Project is in it's pre-beta stage. And the codebase is a little bit dirty right now. We have to refactor and optimise; write some documentation and unit tests before releasing it to public domain and accepting contribution.</p>

<p><h2>But,</h2> in the meantime you can try the <a href="/ssl-monitor/replay/">replaying</a> feature, by uploading pcap dump of a game.</p>

{% endblock container %}
