{% extends "base.html" %}


{% block container %}
<div>
  <h1>Replays</h1>
  <p>You can upload your pre-recorded games as <b>pcap</b> files. System replays them for you.</p>
  Quick one-liner to record the game as a .pcap file: <code>sudo tcpdump -i eth0 -s0 -vv -n host 224.5.23.2 and dst port 10020 -w dump.pcap</code>. And then you can upload that pcap file here to replay the game.
</div>
<br>
<div class="well">
  <form action="" method="POST" enctype="multipart/form-data">
    <fieldset>
      <label class="text">
	pcap file <input type="file" name="file">
      </label>
      <button type="submit" class="btn">Upload</button>
    </fieldset>
  </form>

  <!-- Old Replays -->
  <h3>Uploaded pcaps</h3>
  <div id="replays">
    <table class="table">
      <thead>
	<tr>
	  <th>file name</th>
	  <th>date</th>
	</tr>
      </thead>
      <tbody>
	{% for game in games %}
	<tr>
	  <td><a href="/ssl-monitor/game/{{ game['file_name'] }}?replay=1">{{ game['file_name'] }}</a></td>
	  <td>{{ game['uploaded_at'] }}</td>
	</tr>
	
	{% endfor %}
      </tbody>
    </table>
  </div><!-- #/replays -->

</div>
{% endblock container %}
